<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>つくってくん</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">つくってくん</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>冷蔵庫に追加</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">何を買いましたか？</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
          <input type="date" name="itemDate">
          <input type="submit" value="作成する">
        </form>
      </div>
      <a href="/index" class="cancel-button">もどる</a>
    </div>
  </body>
</html>