<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>つくってくん</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">冷蔵庫リストアプリ</h2>
        <h1 class="title">つくってくん</h1>
        <p class="description">
          「つくってくん」は、冷蔵庫の中身をリストアップし、レシピを提示するサービスです。
          <br>
          消費期限が近いものから食べましょう！
        </p>
        <a href="/index" class="index-button">冷蔵庫をチェックする</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>